.header {
}
.header__content {
  height:88rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: var(--color-primary);
  padding: 11rem 0;
  padding-left: 8rem;
}
.header__banner {
  grid-row: 1/3;
  grid-column: 2/3;

}
.header__banner-img {
  width: 100%;
}
.header__cta {
  grid-column: 1/2;  
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
 
  color: var(--color-secondary-light);
}
.header__cta h1 {
  margin-bottom: 8rem;
}
.header__btn-box{
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self:start;
  align-self: flex-start;
}
.header__icon {
  margin-bottom: 3.7rem;
}
.breadcrumb {
  flex-basis: 100%;
  text-align: left;
  padding: 1.2rem 4rem;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}
.breadcrumb__item--inactive {
  opacity: 50%;
}
.breadcrumb__item--inactive::after {
  content: '>';
  margin: 0 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .header__content{
    display: block;
    height: fit-content;
    padding: 10rem 2rem 6.5rem 2rem;
  }
  .header__cta{
    align-items: center;
    text-align: center;
  }
  .header__banner{
    text-align: center;
  }
.header__btn-box{
  width: 100%;
  text-align: center;
  margin-top: 12.5rem;

}
}
