@import 'container.css';
@import 'typography.css';
@import 'buttons.css';
@import 'carousels.css';
@import 'header.css';
@import 'navigation.css';
@import 'products.css';
@import 'footer.css';
@import 'cart.css';
@import './home/sections.css';
@import './plp/sections.css';
@import './pdp/sections.css';
@import './pdp/swiper.css';

:root {
  --color-primary:#1C1C1E;
  --color-primary-light:#2C2C2E;
  --color-primary-dark:#000;
  --color-secondary:#f3f3f5;
  --color-secondary-light:#fff;
  --color-secondary-dark:#bebebe;
  --color-tertiary:#111111;
  --color-option-1:#997F72;
  --color-option-2:#404042;
  --font-heading: 'Gilroy-Bold', sans-serif;
  --font-body: 'Gilroy-Regular', sans-serif;
}

@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Regular'), url('../Gilroy-FREE/Gilroy-FREE/Gilroy-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold'), url('../Gilroy-FREE/Gilroy-FREE/Gilroy-Bold.ttf') format('truetype');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; 
}

body {
  font-family: var(--font-body);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

@media only screen and (max-width: 81.25em) {
  html {
    font-size: 50%;
  }
}
