.details {
  display: flex;
  height: fit-content;
}
.details__swiper {
  width: 50%;
}
.details__content {
  position: relative;
  width: 50%;
  background-color: var(--color-secondary);
  padding: 7.5rem 0 0 0;
}
.details__content > *:not(:last-child) {
  padding: 0 11rem 0 9rem;
}
.details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}
.details__reviews {
  display: flex;
  column-gap: 1.6rem;
  margin-bottom: 8px;
}
.details__financing {
  display: flex;
  align-items: flex-start;
  column-gap: 3.2rem;
  margin-bottom: 8px;
}
.details__financing img {
  width: 4.1rem;
  height: 1.7rem;
}
.details__color {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 2.4rem;
  margin-top: 1rem;
}
.details__color-header {
  width: 100%;
}
.details__color-option {
}
.details__color label {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
}
.details__color-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
}
.details__color-icon--1 {
  background-color: var(--color-option-1);
}
.details__color-icon--2 {
  background-color: var(--color-option-2);
}
.details__color-icon--3 {
  background-color: var(--color-tertiary);
}
.pagination {
  display: none;
}
.details__plans {
  margin-top: 1.6rem;
}
.details__plans-radio {
  display: none;
}
.details__plans-option {
  margin-top: 1rem;
}
.details__plans-option label {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.details__plans-option label div {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  outline: 1px solid #c4c4c4;
}
.details__plans-option label span {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.details__plans-radio:checked + label span {
  background-color: var(--color-tertiary);
}
.details__delivery {
  margin-top: 5rem;
}
.details__delivery-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.details__delivery-item {
  width: 30%;
  background-color: var(--color-secondary-light);
}
.delivery-radio {
  display: none;
}
.details__delivery-item label {
  width: 100%;
  height: 100%;
  padding: 1.6rem 0 0.8rem 0;
  text-align: center;
  display: block;
}
.details__delivery-item label img {
  width: 100%;
}
.delivery-radio:checked + label {
  border: 2px solid black;
}
.delivery-radio:not(:checked) + label {
  opacity: 0.5;
}
.details__delivery-method {
  display: flex;
  margin-top: 1.6rem;
}

.details__delivery-method select {
  margin-left: auto;
  padding: 5px 35px 5px 5px;
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
}
.details__delivery-method select option b * {
  text-transform: uppercase;
  font-family: var(--font-heading);
}
.details__engraving {
  margin: 4.7rem 0;
}
.details__input-group:not(:first-of-type) {
  margin-top: 1.6rem;
}
.details__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1.6rem;
  font-size: 1.4rem;
  background-color: var(--color-secondary-light);
}
.details__checkbox {
  appearance: none;
}

.details__checkbox::after {
  content: url(../../assets/icons/check.svg);
  width: 2rem;
  height: 2rem;
  background-color: var(--color-secondary-light);
  border: 1px solid var(--color-secondary-dark);
  padding: 3px;
  display: inline;
  margin-right: 8px;
}
.details__checkbox:checked .details__checkbox::after {
}
@media only screen and (max-width: 37.5em) {
  .details {
    display: block;
    height: fit-content;
  }
  .details__swiper {
    width: 100%;
  }
  .details__content {
    width: 100%;
   
  }
  .details__content > *:not(:last-child){
    padding: 0 1.6rem 0 1.6rem;
  }
  .pagination {
    display: inline;
  }
  .swiper-pagination-progressbar{
    top: 1rem !important;
  }
  .swiper-pagination-progressbar span{
    background: var(--color-primary-dark) !important;
  }
  .details__delivery-list {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .details__delivery-item {
    width: 45%;
  }
}
